<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>BTL_Web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SanPhamServlet</display-name>
    <servlet-name>SanPhamServlet</servlet-name>
    <servlet-class>controller.SanPhamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SanPhamServlet</servlet-name>
    <url-pattern>/SanPhamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DSSanPhamServlet</display-name>
    <servlet-name>DSSanPhamServlet</servlet-name>
    <servlet-class>controller.DSSanPhamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DSSanPhamServlet</servlet-name>
    <url-pattern>/DSSanPhamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GioHangServlet</display-name>
    <servlet-name>GioHangServlet</servlet-name>
    <servlet-class>controller.GioHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GioHangServlet</servlet-name>
    <url-pattern>/GioHangServlet</url-pattern>
  </servlet-mapping>
</web-app>